<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/shadow.jpg" alt="deepak" class="img-fluid" title="weather iamge">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather page</p>
                        <h1>I am a <span class="text_color">MERN stack developer</span> of city</h1>
                        <a href="https://www.google.com"><button>AbouMe</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
       {{>footer}}
</body>


</html>